{{ define "main" }}

<h2 class="main-header">{{ .Title }}</h2>
<section class="main-content narrow">
    <h3>{{ .Params.hours.heading }}</h3>
    <p>{{ .Params.hours.hours_open }}</p>
    <p>{{ .Params.hours.hours_closed }}</p>
    <h3>{{ .Params.tuition.heading }}</h3>
    <table class="tuition">
        <tr>
            <th colspan="2">{{ .Params.tuition.fulltime_heading }}</th>
        </tr>
        {{ range .Params.tuition.tuition_fulltime }}
        <tr>
            <td>{{ .heading }}</td>
            <td>{{ .rate }}</td>
        </tr>
        {{ end }}
    </table>
    <table class="tuition">
        <tr>
            <th colspan="2">{{ .Params.tuition.schoolage_heading }}</th>
        </tr>
        {{ range .Params.tuition.tuition_schoolage }}
        <tr>
            <td>{{ .heading }}</td>
            <td>{{ .rate }}</td>
        </tr>
        {{ end }}
    </table>
    <h3>{{ .Params.requirements.heading }}</h3>
    <ul>
        {{ range .Params.requirements.requirements_list }}
        <li>{{ .requirement }}</li>
        {{ end }}
    </ul>
</section>

{{ end }}
