<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ with .Title }}{{ . }} / {{ end }}{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <meta property="og:title" content="Marquette Learning Center">
        <meta property="og:description" content="Marquette Learning Center would like to provide the community with an educational childcare facility in Marquette, Kansas.">
        <meta property="og:image" content="/img/icons/marquette-learning-center-196.png">

        <link rel="shortcut icon" type="image/x-icon" href="/img/icons/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="/img/icons/favicon-64.ico">
        <link rel="icon" type="image/png"  href="/img/icons/marquette-learning-center-196.png">
        <link rel="apple-touch-icon" href="/img/icons/marquette-learning-center-152.png">
        <meta name="msapplication-TileColor" content="#fff">
        <meta name="msapplication-TileImage" content="img/icons/marquette-learning-center-144.png">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=BioRhyme:300,400|Open+Sans:400,700">
        <link rel="stylesheet" type="text/css" href="/css/app.css?v=20200517">

        {{ if .IsHome }}
            <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        {{ end }}

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107388812-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-107388812-1');
        </script>
    </head>
    <body>
        <div class="page">
            <div class="nav-container">
                <nav id="main-nav" class="nav">
                    <ul>
                        <li class="home{{ if .IsHome }} selected{{ end }}"><a href="/">Home</a></li>
                        {{ range .Site.Data.navigation.items }}
                            <li class="{{ .slug }}{{ if eq $.Type .slug }} selected{{ end }}"><a href="{{ .url }}">{{ .label }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            {{ if eq .Site.Data.alert.active true }}
            <div class="site-alert-container">
                <div class="site-alert">
                    <div class="content">
                        <div class="alert-message">
                            {{ index .Site.Data.alert "message" | markdownify }}
                            {{ if .Site.Data.alert.additional_information }}
                                <button id="site-alert-toggle">More info</button>
                            {{ end }}
                        </div>
                        {{ if .Site.Data.alert.additional_information }}
                            <div id="site-alert-additional-information" class="additional-information">
                                {{ index .Site.Data.alert "additional_information" | markdownify }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
            <div class="header-container">
                <header class="header{{ if .IsHome }} home{{ end }}">
                    <h1><a href="/"><img src="/img/marquette-learning-center.png" alt="Marquette Learning Center"></a></h1>
                    <h2>Excellence in Early Childhood Education</h2>
                </header>
            </div>
            <div class="main-container">
                <main class="main">
                    {{ block "main" . }}
                    {{ end }}
                </main>
            </div>
            <div class="footer-container">
                <footer class="footer">
                    <ul>
                        <li><a href="{{ .Site.Data.config.facebook_url }}">Visit Our Facebook Page</a></li>
                        <li>{{ .Site.Data.config.address }}</li>
                        <li>{{ .Site.Data.config.phone }}</li>
                    </ul>
                </footer>
            </div>
        </div>
        <script src="/js/app.js?v=20180324"></script>
    </body>
</html>
