{{ define "main" }}

<section class="intro">
    <div class="content">
        <p class="lead">{{ .Params.intro.lead }}</p>
        <p>{{ .Params.intro.content }}</p>
    </div>
</section>
<section class="objectives">
    <div class="content">
        <p class="lead">{{ .Params.objectives.lead }}</p>
        <ul>
            {{ range .Params.objectives.objectives_list }}
            <li>{{ .objective }}</li>
            {{ end }}
        </ul>
    </div>
</section>
<section class="feature1">
    <div class="content">
        <h3>{{ .Params.feature1.heading }}</h3>
        <p>{{ .Params.feature1.content }}</p>
        <a class="btn" href="{{ .Params.feature1.url }}">{{ .Params.feature1.cta }}</a>
    </div>
</section>
<section class="feature2">
    <div class="content">
        <h3>{{ .Params.feature2.heading }}</h3>
        <p>{{ .Params.feature2.content }}</p>
        <a class="btn" href="{{ .Params.feature2.url }}">{{ .Params.feature2.cta }}</a>
    </div>
</section>
<section class="vacancies">
    <div class="content">
        <h3>{{ .Params.vacancies.heading }}</h3>
        <table>
            {{ range .Params.vacancies.vacancies_list }}
            <tr>
                <td class="heading">{{ .heading }}</td>
                <td class="text">{{ .text }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</section>
<section class="contact">
    <div class="content">
        <h3>{{ .Params.contact.heading }}</h3>
        <p>call {{ .Site.Data.config.phone }} or <a href="mailto:{{ .Site.Data.config.email }}">send us an email</a></p>
    </div>
</section>

{{ end }}
