{{ define "main" }}

<section class="intro">
    <div class="content">
        <p class="lead">{{ .Params.intro_lead }}</p>
        <p>{{ .Params.intro_content }}</p>
    </div>
</section>
<section class="objectives">
    <div class="content">
        <p class="lead">{{ .Params.objectives_lead }}</p>
        <ul>
            {{ range .Params.objectives }}
            <li>{{ .objective }}</li>
            {{ end }}
        </ul>
    </div>
</section>
<section class="stayuptodate-feature">
    <div class="content">
        <h3>{{ .Params.facebook_heading }}</h3>
        <p>{{ .Params.facebook_content }}</p>
        <a class="btn" href="{{ .Site.Data.config.facebookURL }}">{{ .Params.facebook_cta }}</a>
    </div>
</section>
<section class="donate-feature">
    <div class="content">
        <h3>{{ .Params.donate_heading }}</h3>
        <p>{{ .Params.donate_content }}</p>
        <a class="btn" href="/donate/">{{ .Params.donate_cta }}</a>
    </div>
</section>
<section class="vacancies">
    <div class="content">
        <h3>{{ .Params.vacancies_heading }}</h3>
        <table>
            {{ range .Params.vacancies }}
            <tr>
                <td class="heading">{{ .heading }}</td>
                <td class="text">{{ .text }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</section>
<section class="contact">
    <div class="content">
        <h3>{{ .Params.contact_heading }}</h3>
        <p>call {{ .Site.Data.config.phone }} or <script type="text/javascript">document.write("<n uers=\"znvygb:znedhrggryrneavatpragre@tznvy.pbz\">".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));document.write('send us an email</a>');</script></p>
    </div>
</section>

{{ end }}
