
// NOTE: only Bootstrap variables and Mixins are loaded, NOT the whole framework
@import "bootstrap/variables";
@import "bootstrap/mixins";

// -----------------------------------------------------------------------------
// Variables

$white:                  #fff;
$black:                  #000;
$gray-dark:              #333;

$green:                  #04b998;
$yellow:                 #d1c034;
$peach:                  #f0ccb4;
$blue:                   #a7f3f0;
$orange:                 #ff511a;

$yellow-25:              #f3efcc; // 25% yellow over white
$yellow-10:              #faf8ea; // 10% yellow over white
$blue-green:             #55d6c3; // 50% blue over green

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      "BioRhyme", Georgia, "Times New Roman", Times, serif;

$font-size-base:         16px;
$font-size-small:        12px;
$font-size-large:        18px;

$font-weight-light:      300;
$font-weight-regular:    400;
$font-weight-bold:       700;

$font-size-h1:           36px;
$font-size-h2:           30px;
$font-size-h3:           24px;
$font-size-h4:           18px;
$font-size-h5:           16px;
$font-size-h6:           12px;

$border-radius:          3px;

// -----------------------------------------------------------------------------
// Normalize

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

header,
nav,
footer,
section,
main {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

// -----------------------------------------------------------------------------
// Foundation

* {
    @include box-sizing(border-box);
}

*:before,
*:after {
    @include box-sizing(border-box);
}

body {
    background-color: $white;
    color: $gray-dark;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    line-height: 1.6;
}

a {
    color: $green;
    text-decoration: none;
    &:hover {
        color: darken($green, 15%);
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $font-family-serif;
    font-weight: $font-weight-regular;
    line-height: 1.1;
    text-transform: lowercase;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p {
    margin-top: 0;
    margin-bottom: 20px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    li {
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 10px;
            margin-left: -20px;
            background-image: url(/img/list-item.png);
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
}

th, td {
    padding: 10px 0;
    border-bottom: solid 1px $yellow-25;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}

th {
    font-weight: $font-weight-bold;
}

strong {
    font-weight: $font-weight-bold;
}

// -----------------------------------------------------------------------------
// Mixins

@mixin make-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin make-lead {
    color: $black;
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: $font-weight-regular;
    line-height: 1.4;
}

@mixin make-callout {
    padding: 10px 20px;
    background-color: $yellow-10;
    border-radius: $border-radius;
}

// 1. for input element
@mixin make-btn {
    -webkit-appearance: none;// 1
    cursor: pointer;// 1
    display: inline-block;
    padding: 5px 15px;
    color: $gray-dark;
    background-color: $blue;
    border: 0;// 1
    border-radius: $border-radius;
    white-space: nowrap;
    vertical-align: middle;
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: $font-weight-regular;
    text-transform: lowercase;
    text-align: center;
    transition: background-color .1s ease-in-out;

    &:focus {
        outline: 0;
    }
    &:hover,
    &:active {
        background-color: lighten($blue, 5%);
        color: lighten($gray-dark, 10%);
        text-decoration: none;
    }
}

@mixin make-btn-block {
    display: block;
    width: 100%;
}

@mixin make-btn-large {
    padding: 15px 25px;
    font-size: $font-size-h3;
}

@mixin make-action-link {
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: $font-weight-regular;
    text-transform: lowercase;
}

@mixin make-hide-xs ($display) {
    display: none;
    @media (min-width: $screen-sm-min) {
        display: $display;
    }
}

@mixin make-show-xs ($display) {
    display: $display;
    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

@mixin make-fixed-container {
    @include container-fixed;
    //max-width: $container-md;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

// -----------------------------------------------------------------------------
// Utilities

.hide-xs-inline {
    @include make-hide-xs(inline);
}

.hide-xs-block {
    @include make-hide-xs(block);
}

.show-xs-inline {
    @include make-show-xs(inline);
}

.show-xs-block {
    @include make-show-xs(block);
}

// -----------------------------------------------------------------------------
// Elements

.img-responsive {
    @include make-img-responsive;
}

.lead {
    @include make-lead;
}

.callout {
    @include make-callout;
}

.btn {
    @include make-btn;
}

.btn-block {
    @include make-btn-block;
}

.btn-large {
    @include make-btn-large;
}

.action-link {
    @include make-action-link;
}

// -----------------------------------------------------------------------------
// Components

.photo {
    text-align: center;
    img {
        @include img-responsive;
        border-radius: $border-radius;
    }
    .caption {
        font-size: $font-size-small;
    }
}

// Alert Component

.site-alert-container {
    @include make-fixed-container;
}

.site-alert {
    @include make-row;
    padding-top: 10px;
}

.site-alert-content {
    @include make-xs-column(12);
    padding: 10px;
    padding-left: 64px;// Push content over to clear icon
    background-color: $orange;
    background-image: url(/img/alert.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    color: $white;
    line-height: 1.2;
    p {
        margin-bottom: 10px;
        line-height: 1.2;
    }
    p:last-child {
        margin-bottom: 0;
    }
    a {
        color: $white;
        text-decoration: underline;
    }
    @media (min-width: $screen-sm-min) {
        border-radius: $border-radius;
        text-align: center;
    }
}

// Menu Bar & Nav Components

.menu-bar {// Created by JavaScript (see app.js)
    // Show menu bar on xs-sm breakpoint
    display: block;
    // Hide menu bar on md-lg breakpoints
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.main-nav {// ClassName added by JavaScript (see app.js)
    // Hide main nav on xs-sm breakpoint
    display: none;
    border-top: solid 1px $blue-green;
    &.show {// ClassName toggled by JavaScript
        display: block;
    }
    @media (min-width: $screen-md-min) {
        // Show main nav on md-lg breakpoints
        display: block;
        border-top: none;
    }
}

.menu-bar,
.nav {
    a {
        @include make-action-link;
        display: inline-block;
        padding: 5px 0;
        vertical-align: middle;
        color: $blue;
    }
}

.menu-bar {// Created by JavaScript (see app.js)
    padding: 10px;
    padding-left: 20px;
    background-color: $green;
    a {
        padding-left: 36px;
        background-image: url(/img/icon-menu.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px 24px;
    }
}

.nav {
    // Vertical nav
    padding: 20px;
    background-color: $green;
    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: block;
        margin: 0 0 10px 0;
        &::before {
            display: none;
        }
    }
    .selected {
        a {
            color: #fff;
        }
    }
    @media (min-width: $screen-md-min) {// Horizontal nav
        padding: 10px;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 15px;
        }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {// sm only
        // 1. Maintain the height of the nav when reducing the font size
        padding-top: 14px;// 1
        padding-bottom: 13px;// 1
        a {
            font-size: $font-size-base;
        }
    }
}

// Header Components

.header {
    padding: 40px 0;
    h1 {
        max-width: 240px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;// Fit text on one line
        font-weight: $font-weight-light;
        text-transform: none;
    }
    img {
        @include img-responsive;
    }
    @media (min-width: 370px) {
        h2 {
            font-size: 16px;
        }
    }
    @media (min-width: $screen-sm-min) {
        h1 {
            max-width: 300px;
        }
    }
    &.home {
        @media (min-width: $screen-sm-min) {
            padding: 80px 0;
            h1 {
                max-width: 360px;
            }
        }
    }
}

// Main Components

.main-container {
    @include make-fixed-container;
}

.main {
    @include make-row;
    margin-bottom: 40px;
}

.main-header {
    @include make-xs-column(12);
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px $yellow;
    color: $orange;
    font-weight: $font-weight-light;
    text-align: center;
    &.no-border {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.main-content {
    @include make-xs-column(12);
    &.narrow {
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
        @include make-md-column(8);
        @include make-md-column-offset(2);
    }
}

// Footer Components

.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: solid 1px $yellow-25;
    text-align: center;
    ul {
        padding-left: 0;
    }
    li {
        &::before {
            display: none;
        }
    }
    a {
        @include make-action-link;
        font-size: $font-size-large;
    }
    @media (min-width: $screen-sm-min) {
        li {
            display: inline-block;
            margin-left: 40px;
            &::before {
                display: inline-block;
                width: 30px;
            }
            &:first-of-type {
                margin-left: 0;
                &::before {
                    display: none;
                    width: auto;
                }
            }
        }
    }
}

// Home Page Components

.intro {
    @include make-xs-column(12);
    margin-bottom: 40px;
    padding: 40px;
    background-color: $blue;
    p:last-of-type {
        margin-bottom: 0;
    }
    //p, .content {
    //    border: solid 1px #00f;
    //}
    @media (min-width: $screen-sm-min) {
        margin-bottom: 60px;
        padding: 0;
        background-image: url(/img/intro.png);
        background-repeat: no-repeat;
        background-position: -50px center;
        background-size: 270px 220px;
        border-radius: $border-radius;
        .content {
            padding: 60px;
            padding-left: 260px;// push over content

        }
    }
    @media (min-width: $screen-md-min) {
        margin-bottom: 80px;
        background-position: 80px center;
        .content {
            padding: 80px;
            padding-left: 410px;// push over content

        }
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 100px;
        background-position: 100px center;
        .content {
            padding-left: 440px;// push over content
        }
    }
}

.objectives {
    @include make-xs-column(12);
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    margin-bottom: 40px;
    ul {
        margin-bottom: 0;
    }
    li {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    @media (min-width: $screen-sm-min) {
        margin-bottom: 60px;
    }
    @media (min-width: $screen-md-min) {
        margin-bottom: 80px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 100px;
        p.lead {
            margin-bottom: 40px;
            font-size: $font-size-h3;
            text-align: center;
        }
        li {
            margin-bottom: 30px;
        }
    }
}

.stayuptodate-feature {
    @include make-xs-column(12);
    margin-bottom: 20px;
    padding: 40px;
    background-color: $green;
    h3, p {
        color: $white;
    }
    h3 {
        font-size: $font-size-h2;
        font-weight: $font-weight-light;
    }
    //h3, p, .content {
    //    border: solid 1px #00f;
    //}
    @media (min-width: $screen-sm-min) {
        padding: 0;
        padding-right: 20px;// push over image
        border-radius: $border-radius;
        .content {
            padding: 60px;
            padding-right: 390px;// push over content
            background-image: url(/img/stayuptodate.png);
            background-size: 380px 290px;
            background-repeat: no-repeat;
            background-position: right -65px;
        }
    }
    @media (min-width: $screen-md-min) {
        padding-right: 80px;// push over image
        .content {
            padding: 80px;
            padding-right: 420px;// push over content
            background-position: right -35px;
        }
    }
    @media (min-width: $screen-lg-min) {
        padding-right: 100px;// push over image
        h3 {
            font-size: $font-size-h1;
        }
        .content {
            padding: 100px;
            padding-right: 430px;// push over content
            background-position: right top;
            text-align: center;
        }
    }
}

.donate-feature {
    @include make-xs-column(12);
    margin-bottom: 20px;
    padding: 40px;
    background-color: $orange;
    h3, p {
        color: $white;
    }
    h3 {
        font-size: $font-size-h2;
        font-weight: $font-weight-light;
    }
    //h3, p, .content {
    //    border: solid 1px #00f;
    //}
    @media (min-width: $screen-sm-min) {
        padding: 0;
        background-image: url(/img/donate.png);
        background-size: 300px 250px;
        background-repeat: no-repeat;
        background-position: 60px center;
        border-radius: $border-radius;
        .content {
            padding: 80px;
            padding-left: 440px;// push over content
        }
    }
    @media (min-width: $screen-md-min) {
        background-position: 80px center;
        .content {
            padding: 100px;
            padding-left: 500px;// push over content
        }
    }
    @media (min-width: $screen-lg-min) {
        background-position: 100px center;
        h3 {
            font-size: $font-size-h1;
        }
        .content {
            padding: 100px;
            padding-left: 480px;// push over content
            text-align: center;
        }
    }
}

.vacancies {
    @include make-xs-column(12);
    .content {
        padding: 60px 0 10px 0;
        text-align: center;
    }
    table {
        margin: 0 auto;
    }
    td {
        white-space: normal;
        &:first-of-type {
            padding-right: 40px;
        }
    }
}

.contact {
    @include make-xs-column(12);
    .content {
        padding: 60px 0 10px 0;
        text-align: center;
    }
}

// Facebook Photos Components

.facebook-photos {
    @include make-xs-column(12);
    .content {
        padding: 60px 0 10px 0;
        text-align: center;
    }
}

// Hours & Tuition Components

table.tuition {
    width: 100%;
    margin-bottom: 20px;
    td {
        &:first-of-type {
            width: 60%;
        }
        &:last-of-type {
            width: 40%;
        }
    }
}

// Board of Directors Components

.director {
    @include make-row;
    margin-bottom: 40px;
    .photo {
        @include make-xs-column(6);
        @include make-sm-column(4);
    }
    .content {
        @include make-xs-column(12);
        @include make-sm-column(8);
    }
    img {
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 10px;
    }
    @media (min-width: $screen-sm-min) {
        img {
            margin-bottom: 0;
        }
    }
}

// Donate Components

.donate-levels {
    img {
        @include img-responsive;
    }
}
.donate-options {
    text-align: center;
}
.donate-legal {
    font-size: $font-size-small;
}
